.social-btns{
    margin-left: -10% !important;
    margin-top: 10% !important;
    position: fixed;
    width: 3% !important;
}
.social-btns .share-button:focus{
    outline: none !important;
}
.social-btns .share-button{
    cursor: pointer;
}