.social-btns{
    margin-left: -5% !important;
    position: fixed;
    width: 5% !important;
}
.social-btns .share-button:focus{
    outline: none !important;
}
.social-btns .share-button{
    cursor: pointer;
}