.articlebody img {
    margin: auto !important;
    height: 400px !important;
}
.topImage {
    width: 100% !important;
    max-height: 400px !important;
}
.articledetail{
    width: 70% !important;
    margin: auto !important;
    padding: 60px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px !important;
}
.article-title{
    text-align: left;
}