.profile-card {
    width: 50% !important;
    margin-right: 90% auto !important;
    height: 70% !important;
}
.edit-profile {
    width: 80% !important;
    margin: 3% auto !important;
}
.profile-grid {
    padding: 50px 30px !important;
}
.profile-div {
    padding: 3% 20px !important;
}