.profile-card {
  width: 100% !important;
  margin: auto !important;
  height: 70% !important;
  float: left !important;
  padding: 2% !important;
}
.edit-profile {
  width: 80% !important;
  margin: 3% auto !important;
}
.profile-grid {
  padding: 50px 30px !important;
}
.profile-div {
  padding: 3% 20px !important;
}
