.errors{
    width: 58% !important;
    margin: auto !important;
    margin-bottom: 2% !important;
    padding: 2% !important;
}
.auth-form-segment {
    background: rgb(243, 243, 243) !important;
    border: none !important;
    box-shadow: none !important;
}