.errors{
    width: 58% !important;
    margin: auto !important;
    margin-bottom: 2% !important;
    padding: 2% !important;
}
.auth-form-segment {
    background-color: oldlace !important;
    // height: 400px;
}