@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.head-title{
    text-shadow: 1px 1px 10px #000 !important;
    color: rgb(5, 5, 5) !important; 
    background: none !important;
    font-size: 28px !important;
    cursor: pointer !important;
    font-family: 'Dancing Script', cursive !important;
  }
  .navbar {
      margin: auto !important;
      padding-left: 40px;
      padding-right: 40px;
      background-color: white !important;
      box-shadow: 1px 1px 2px #000 !important;
  }
  .signup-btn{
      background: grey !important;
      color: #fff !important;
  }