.profile-page{
    border: solid 1px silver !important;
        border-radius: 5px !important;
        box-shadow: 1px 1px 5px silver !important;
        background: rgb(250, 250, 250) !important;
        padding: 3%  !important;
}