@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgba(42, 161, 26, 0.1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root{
  font-family: 'Encode Sans Condensed', sans-serif;
}

.app {
  width: 100%;
  padding-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
}
