@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgba(42, 161, 26, 0.1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root{
  font-family: 'Encode Sans Condensed', sans-serif;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  background-attachment: fixed;
}

.app {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: inherit;
  border-radius: 6px;
  min-height: 650px;
}
